@function px2rem($px) {
    $rem: 75px;
    @return ($px / $rem) + rem;
}
body{
    background: #F5F6F7;
}
#main {
    width: 100%;
    border-radius:px2rem(8px) px2rem(8px) 0 0;
    .main-tittle{
        width: px2rem(750px);
        height: px2rem(80px);
        background: #FFF;
        font-size:px2rem(30px);
        font-family:PingFangSC-Regular; 
        vertical-align: middle;
        .left-arrowhead{
            display: inline-block;
            vertical-align: middle;
            width: px2rem(20px);
            height: px2rem(20px);
            border-left: px2rem(3px) solid #707076;
            border-bottom: px2rem(3px) solid #707076;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            position: relative;
            left: px2rem(45px);
            // margin-top: px2rem(27px);
            cursor: pointer;
        }
        .right-arrowhead{
            display: inline-block;
            vertical-align: middle;
            width: px2rem(10px);
            height: px2rem(10px);
            border-right: px2rem(2px) solid #c6c6c8;
            border-top: px2rem(2px) solid #c6c6c8;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            position: relative;
            // margin-top: px2rem(30px);
        }
        a{
            margin: 0;
            margin-left: px2rem(150px);
            margin-right: px2rem(8px);
            // margin-top: px2rem(25px);
            line-height: px2rem(80px);
            text-decoration: none;
        }
        .a2{
            margin-left: px2rem(17px);
        }
        .color2{
            color: #6C8BFE;
        }
        .color1{
            color: #707076;
        }
    }
    a{
        display: inline-block;
        color:rgba(112,112,118,1);
        vertical-align: middle;
        margin-top: px2rem(19px);
        margin-left: px2rem(30px);
    }

    .div1,.div2{
        background: #FFF;
        font-size:px2rem(30px);
        font-family:PingFangSC-Regular;
        color:rgba(198,198,200,1);
        height: px2rem(80px);
        input{
            margin-left: px2rem(34px);
            display: inline-block;
            vertical-align: middle;
            border: none;
            height: px2rem(80px);
            line-height: px2rem(80px);
            width: px2rem(525px);
            border-bottom-style: solid;
            border-bottom-color: #E5E5E5;
            border-bottom-width: px2rem(1px);
            background-color: transparent;
        }
        //去掉iphone默认浏览器的样式
        input{ 
            appearance: none;
            -webkit-appearance: none;     
            -moz-appearance : none ; 
        }
        a{
            margin-top: 0;
        }
        .input1{
            margin-left: px2rem(94px);
        }
        .input2{
            width:px2rem(555px); ;
        }
        input::-webkit-input-placeholder{
            color: #c6c6c8;
        }        
         input:-moz-placeholder{
            color: #c6c6c8;
        }                  
        input::-moz-placeholder{
            color: #c6c6c8;
        }                  
        input:-ms-input-placeholder            
         {
            color: #c6c6c8;    
        } 
         input::placeholder{
            color: #c6c6c8;
        }
        input::-ms-clear{
            display: none;
        }
        input::-ms-reveal{
            display: none;
        }
        .get{
            position: relative;
            top: px2rem(-83px);
            left: px2rem(590px);
            height: px2rem(56px);
            width: px2rem(131px);
            text-align: center;
            vertical-align: middle;
            padding: px2rem(14px) 0;
            background:rgba(255,255,255,1);
            border-radius:px2rem(4px);
            border:px2rem(2px) solid rgba(108,139,254,1);
            font-size:px2rem(28px);
            font-family:PingFangSC-Regular;
            color:rgba(108,139,254,1);   
            margin: px2rem(14px) px2rem(30px) 0 0;
            cursor: pointer;
        }
        .getafter{
            position: relative;
            top: px2rem(-83px);
            left: px2rem(590px);
            height: px2rem(56px);
            width: px2rem(131px);
            text-align: center;
            vertical-align: middle;
            padding: px2rem(14px) 0;
            background:#F5F6F7;
            border-radius:px2rem(4px);
            border:none;
            font-size:px2rem(28px);
            font-family:PingFangSC-Regular;
            color: #c6c6c8;   
            margin: px2rem(14px) px2rem(30px) 0 0;
            pointer-events: none;
        }
  
     
      
    }
    .div1{
        margin-top: px2rem(12px);
    }
    .submit1{
        margin: px2rem(40px) 0 0 px2rem(30px);
        font-size:px2rem(36px);
        font-family:PingFangSC-Semibold;
        color:#979799;
        border-radius: px2rem(8px);
        width:px2rem(690px);
        height:px2rem(96px);
        background:rgba(229,229,229,1);
        pointer-events: none;
        appearance: none;
        -webkit-appearance: none;     
        -moz-appearance : none ;
    }
    .submit2{
        margin: px2rem(40px) 0 0 px2rem(30px);
        font-size:px2rem(36px);
        font-family:PingFangSC-Semibold;
        color:#FFF;
        border-radius: px2rem(8px);
        width:px2rem(690px);
        height:px2rem(96px);
        background: #6C8BFE;
        cursor: pointer;
        box-shadow:0 px2rem(4px) px2rem(12px) 0 rgba(108,139,254,0.2);
        outline: none;
        appearance: none;
        -webkit-appearance: none;     
        -moz-appearance : none ;
    }
  

   

}
