body {
  background: #F5F6F7; }

#main {
  width: 100%;
  border-radius: 0.1066666667rem 0.1066666667rem 0 0; }
  #main .main-tittle {
    width: 10rem;
    height: 1.0666666667rem;
    background: #FFF;
    font-size: 0.4rem;
    font-family: PingFangSC-Regular;
    vertical-align: middle; }
    #main .main-tittle .left-arrowhead {
      display: inline-block;
      vertical-align: middle;
      width: 0.2666666667rem;
      height: 0.2666666667rem;
      border-left: 0.04rem solid #707076;
      border-bottom: 0.04rem solid #707076;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      left: 0.6rem;
      cursor: pointer; }
    #main .main-tittle .right-arrowhead {
      display: inline-block;
      vertical-align: middle;
      width: 0.1333333333rem;
      height: 0.1333333333rem;
      border-right: 0.0266666667rem solid #c6c6c8;
      border-top: 0.0266666667rem solid #c6c6c8;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative; }
    #main .main-tittle a {
      margin: 0;
      margin-left: 2rem;
      margin-right: 0.1066666667rem;
      line-height: 1.0666666667rem;
      text-decoration: none; }
    #main .main-tittle .a2 {
      margin-left: 0.2266666667rem; }
    #main .main-tittle .color2 {
      color: #6C8BFE; }
    #main .main-tittle .color1 {
      color: #707076; }
  #main a {
    display: inline-block;
    color: #707076;
    vertical-align: middle;
    margin-top: 0.2533333333rem;
    margin-left: 0.4rem; }
  #main .div1, #main .div2 {
    background: #FFF;
    font-size: 0.4rem;
    font-family: PingFangSC-Regular;
    color: #c6c6c8;
    height: 1.0666666667rem; }
    #main .div1 input, #main .div2 input {
      margin-left: 0.4533333333rem;
      display: inline-block;
      vertical-align: middle;
      border: none;
      height: 1.0666666667rem;
      width: 7rem;
      border-bottom-style: solid;
      border-bottom-color: #E5E5E5;
      border-bottom-width: 0.0133333333rem;
      background-color: transparent; }
    #main .div1 input[type="submit"], #main .div1 input[type="reset"], #main .div1 input[type="button"], #main .div1 button, #main .div2 input[type="submit"], #main .div2 input[type="reset"], #main .div2 input[type="button"], #main .div2 button {
      -webkit-appearance: none; }
    #main .div1 a, #main .div2 a {
      margin-top: 0; }
    #main .div1 .input1, #main .div2 .input1 {
      margin-left: 1.2533333333rem; }
    #main .div1 .input2, #main .div2 .input2 {
      width: 7.4rem; }
    #main .div1 input::-webkit-input-placeholder, #main .div2 input::-webkit-input-placeholder {
      color: #c6c6c8; }
    #main .div1 input:-moz-placeholder, #main .div2 input:-moz-placeholder {
      color: #c6c6c8; }
    #main .div1 input::-moz-placeholder, #main .div2 input::-moz-placeholder {
      color: #c6c6c8; }
    #main .div1 input:-ms-input-placeholder, #main .div2 input:-ms-input-placeholder {
      color: #c6c6c8; }
    #main .div1 input::placeholder, #main .div2 input::placeholder {
      color: #c6c6c8; }
    #main .div1 input::-ms-clear, #main .div2 input::-ms-clear {
      display: none; }
    #main .div1 input::-ms-reveal, #main .div2 input::-ms-reveal {
      display: none; }
    #main .div1 .get, #main .div2 .get {
      position: relative;
      top: -1.1066666667rem;
      left: 7.8666666667rem;
      height: 0.7466666667rem;
      width: 1.7466666667rem;
      text-align: center;
      vertical-align: middle;
      padding: 0.1866666667rem 0;
      background: white;
      border-radius: 0.0533333333rem;
      border: 0.0266666667rem solid #6c8bfe;
      font-size: 0.3733333333rem;
      font-family: PingFangSC-Regular;
      color: #6c8bfe;
      margin: 0.1866666667rem 0.4rem 0 0;
      cursor: pointer; }
    #main .div1 .getafter, #main .div2 .getafter {
      position: relative;
      top: -1.1066666667rem;
      left: 7.8666666667rem;
      height: 0.7466666667rem;
      width: 1.7466666667rem;
      text-align: center;
      vertical-align: middle;
      padding: 0.1866666667rem 0;
      background: #F5F6F7;
      border-radius: 0.0533333333rem;
      border: none;
      font-size: 0.3733333333rem;
      font-family: PingFangSC-Regular;
      color: #c6c6c8;
      margin: 0.1866666667rem 0.4rem 0 0;
      pointer-events: none; }
  #main .div1 {
    margin-top: 0.16rem; }
  #main .submit1 {
    margin: 0.5333333333rem 0 0 0.4rem;
    font-size: 0.48rem;
    font-family: PingFangSC-Semibold;
    color: #979799;
    border-radius: 0.1066666667rem;
    width: 9.2rem;
    height: 1.28rem;
    background: #e5e5e5;
    pointer-events: none; }
  #main .submit2 {
    margin: 0.5333333333rem 0 0 0.4rem;
    font-size: 0.48rem;
    font-family: PingFangSC-Semibold;
    color: #FFF;
    border-radius: 0.1066666667rem;
    width: 9.2rem;
    height: 1.28rem;
    background: #6C8BFE;
    cursor: pointer; }

/*# sourceMappingURL=findpassword.css.map */
