@charset "UTF-8";
html {
  min-height: 100%;
  /*你需要设置这个参数，确保渐变效果填满整个页面，不会被切断*/ }

body {
  /* Chrome 10+, Safari 5.1+ */
  background: -webkit-linear-gradient(#6a9eff 50%, #ffffff 50%);
  /* Opera 11.1+ */
  background: -o-linear-gradient(#6a9eff 50%, #ffffff 50%);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(#6a9eff 50%, #ffffff 50%);
  /* 标准语法（一定要放在最后）*/
  background: linear-gradient(#6a9eff 50%, #ffffff 50%);
  /*最好设置一个背景颜色，万一渐变效果加载失败，背景也不会是空白的*/
  background-color: #ffffff; }

#header {
  width: 100%;
  height: 3.68rem;
  line-height: 0;
  background: linear-gradient(-90deg, #6c8bfe, #6a9eff);
  overflow: hidden; }
  #header .img-close {
    width: 0.5866666667rem;
    height: 0.5866666667rem;
    margin-top: 0.4266666667rem;
    margin-left: 0.4266666667rem; }
    #header .img-close img {
      width: 0.5866666667rem;
      height: 0.5866666667rem; }
  #header .img-logo {
    text-align: center; }
    #header .img-logo img {
      width: 4.6133333333rem;
      height: 0.8533333333rem; }
  #header .btn {
    position: relative;
    text-align: center; }
    #header .btn a {
      padding: 0.1733333333rem 0.52rem;
      background: #FFF;
      line-height: 1.7066666667rem;
      font-size: 0.4rem;
      font-family: PingFangSC-Regular;
      color: #707076;
      border-left: 0.0266666667rem solid #E5E5E5;
      text-decoration: none; }
    #header .btn .left-btn {
      border-radius: 0.0533333333rem 0 0 0.0533333333rem;
      color: #6C8BFE;
      cursor: pointer; }
    #header .btn .right-btn {
      border-radius: 0 0.0533333333rem 0.0533333333rem 0;
      cursor: pointer; }

#main {
  width: 100%;
  background: #FFF;
  border-radius: 0.1066666667rem 0.1066666667rem 0 0; }
  #main .div1, #main .div2 {
    font-size: 0.4rem;
    font-family: PingFangSC-Regular;
    width: 8.72rem;
    margin-left: 0.64rem;
    margin-right: 0.64rem;
    border: none;
    border-bottom-style: solid;
    border-bottom-color: #E5E5E5;
    border-bottom-width: 0.0133333333rem; }
    #main .div1 img, #main .div2 img {
      width: 0.5333333333rem;
      height: 0.5333333333rem;
      position: relative;
      vertical-align: middle; }
    #main .div1 .eye, #main .div2 .eye {
      float: right;
      height: 0.4533333333rem;
      right: 0;
      top: 0.3333333333rem; }
    #main .div1 input, #main .div2 input {
      height: 1.0666666667rem;
      border: 0;
      margin-left: 0.2133333333rem;
      display: inline-block;
      vertical-align: middle;
      background-color: transparent;
      -webkit-appearance: none; }
    #main .div1 input::-webkit-input-placeholder, #main .div2 input::-webkit-input-placeholder {
      color: #c6c6c8; }
    #main .div1 input:-moz-placeholder, #main .div2 input:-moz-placeholder {
      color: #c6c6c8; }
    #main .div1 input::-moz-placeholder, #main .div2 input::-moz-placeholder {
      color: #c6c6c8; }
    #main .div1 input:-ms-input-placeholder, #main .div2 input:-ms-input-placeholder {
      color: #c6c6c8; }
    #main .div1 input::placeholder, #main .div2 input::placeholder {
      color: #c6c6c8; }
    #main .div1 input::-ms-clear, #main .div2 input::-ms-clear {
      display: none; }
    #main .div1 input::-ms-reveal, #main .div2 input::-ms-reveal {
      display: none; }
  #main .div1 {
    position: relative;
    top: 0.8533333333rem; }
  #main .div2 {
    margin-top: 1.12rem; }
  #main .text {
    font-size: 0.4rem;
    font-family: PingFangSC-Regular;
    margin-top: 0.4266666667rem;
    margin-left: 0.64rem; }
    #main .text a {
      text-decoration: none;
      color: #5668a6; }
  #main .submit1 {
    width: 6.1333333333rem;
    height: 1.1733333333rem;
    margin: 0.96rem 0 0 1.9333333333rem;
    font-size: 0.48rem;
    font-family: PingFangSC-Semibold;
    color: white;
    background: #6C8BFE;
    border-radius: 0.1066666667rem;
    cursor: pointer; }
  #main .line {
    width: 8.2133333333rem;
    height: 0;
    margin-left: 0.8933333333rem;
    margin-top: 3.68rem;
    color: #E5E5E5;
    border-style: none;
    border-bottom-color: #E5E5E5;
    border-bottom-width: 0.0266666667rem;
    border-bottom-style: solid; }
  #main .line-text {
    position: relative;
    font-size: 0.32rem;
    font-family: PingFangSC-Regular;
    color: #979799;
    text-align: center;
    margin-top: -0.1866666667rem; }
    #main .line-text a {
      background: #FFF;
      padding: 0 0.32rem; }
  #main .img-wechat {
    text-align: center;
    margin-top: 0.32rem;
    margin-bottom: 0.6266666667rem; }
    #main .img-wechat img {
      width: 1.1733333333rem;
      height: 1.1733333333rem;
      cursor: pointer; }

/*# sourceMappingURL=login.css.map */
