@function px2rem($px) {
    $rem: 75px;
    @return ($px / $rem) + rem;
}
body{
    background: #F5F6F7;
}

#header1 {
    font-family:PingFangSC-Medium;
    color:rgba(255,255,255,1);
    line-height:px2rem(52px);
    width: 100%;
    height: px2rem(128px);
    background: #333334;
    padding-top: px2rem(58px);
    text-align: center;
    position: relative;
    .header-title {
        font-size:px2rem(37px);
    }
    .header-btn {
        font-size:px2rem(28px);
        position: absolute;
        bottom: px2rem(18px);
        left: px2rem(15px);
        cursor: pointer;
        .arrowhead {
            display: inline-block;
            width: px2rem(22px);
            height: px2rem(22px);
            border-left: px2rem(3px) solid #FFF;
            border-bottom: px2rem(3px) solid #FFF;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            position: relative;
            top: px2rem(1px);
            left: px2rem(8px);
        }
    }
}
#main {
    width: 100%;
    border-radius:8px 8px 0px 0px;
    .main-tittle{
        width: px2rem(750px);
        height: px2rem(80px);
        background: #FFF;
        font-size:px2rem(30px);
        font-family:PingFangSC-Regular; 
        .left-arrowhead{
            display: inline-block;
            width: px2rem(20px);
            height: px2rem(20px);
            border-left: px2rem(3px) solid #707076;
            border-bottom: px2rem(3px) solid #707076;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            position: relative;
            top: px2rem(16px);
            left: px2rem(45px);
            cursor: pointer;
        }
        .right-arrowhead{
            display: inline-block;
            width: px2rem(10px);
            height: px2rem(10px);
            border-right: px2rem(3px) solid #c6c6c8;
            border-top: px2rem(3px) solid #c6c6c8;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            position: relative;
            top: px2rem(12px);
            left: px2rem(8px);
        }
        a{
            margin-left: px2rem(145px);
            margin-top: px2rem(25px);
            text-decoration: none;
        }
        .a2{
            margin-left: px2rem(17px);
        }
        .color2{
            color: #6C8BFE;
        }
        .color1{
            color: #707076;
        }
    }
    a{
        display: inline-block;
        color:rgba(112,112,118,1);
        vertical-align: middle;
        margin-top: px2rem(19px);
        margin-left: px2rem(30px);
    }

    .div1,.div2{
        background: #FFF;
        font-size:px2rem(30px);
        font-family:PingFangSC-Regular;
        color:rgba(198,198,200,1);
        height: px2rem(80px);
        input{
            height: px2rem(42px);
            border: 0;
            width: 47%;
            margin-left: px2rem(34px);
            margin-top: px2rem(19px);
            display: inline-block;
            vertical-align: middle;
            border: none;
        }
        .a1{
            margin-top: 0;
        }
        .input1{
            height: px2rem(80px);
            width: px2rem(520px);
            border-bottom-style: solid;
            border-bottom-color: #E5E5E5;
            border-bottom-width: px2rem(1px);
            margin-left: px2rem(94px);
            margin-top: 0;
        }
        input::-webkit-input-placeholder{
            color: #c6c6c8;
        }        
         input:-moz-placeholder{
            color: #c6c6c8;
        }                  
        input::-moz-placeholder{
            color: #c6c6c8;
        }                  
        input:-ms-input-placeholder            
         {
            color: #c6c6c8;
        } 
         input::placeholder{
            color: #c6c6c8;
        }
        input::-ms-clear{
            display: none;
        }
        input::-ms-reveal{
            display: none;
        }
        .get{
            position: relative;
            top: px2rem(-5px);
            left: px2rem(5px);
            height: px2rem(56px);
            width: px2rem(131px);
            text-align: center;
            padding: px2rem(12px) 0;
            background:rgba(255,255,255,1);
            border-radius:px2rem(4px);
            border:2px solid rgba(108,139,254,1);
            font-size:px2rem(28px);
            font-family:PingFangSC-Regular;
            color:rgba(108,139,254,1);   
            margin: px2rem(14px) 0 0 0;
            cursor: pointer;
        }
        .getafter{
            position: relative;
            top: px2rem(-5px);
            left: px2rem(5px);
            height: px2rem(56px);
            width: px2rem(131px);
            text-align: center;
            padding: px2rem(12px) 0;
            background:#E5E5E5;
            border-radius:px2rem(4px);
            border:2px solid #c6c6c8;
            font-size:px2rem(28px);
            font-family:PingFangSC-Regular;
            color: #c6c6c8;   
            margin: px2rem(14px) 0 0 0;
            pointer-events: none;
        }
  
     
      
    }
    .div1{
        margin-top: px2rem(12px);
    }
    .submit1{
        margin: px2rem(40px) 0 0 px2rem(30px);
        font-size:px2rem(36px);
        font-family:PingFangSC-Semibold;
        color:#979799;
        border-radius: px2rem(8px);
        width:px2rem(690px);
        height:px2rem(96px);
        background:rgba(229,229,229,1);
        pointer-events: none;
    }
    .submit2{
        margin: px2rem(40px) 0 0 px2rem(30px);
        font-size:px2rem(36px);
        font-family:PingFangSC-Semibold;
        color:#FFF;
        border-radius: px2rem(8px);
        width:px2rem(690px);
        height:px2rem(96px);
        background: #6C8BFE;
        cursor: pointer;
    }
  

   

}
