@function px2rem($px) {
    $rem: 75px;
    @return ($px / $rem) + rem;
}

#header1 {
    font-family:PingFangSC-Medium;
    color:rgba(255,255,255,1);
    line-height:px2rem(52px);
    width: 100%;
    height: px2rem(128px);
    background: #333334;
    padding-top: px2rem(58px);
    text-align: center;
    position: relative;
    .header-title {
        font-size:px2rem(37px);
    }
    .header-btn {
        font-size:px2rem(28px);
        position: absolute;
        bottom: px2rem(18px);
        left: px2rem(15px);
        .arrowhead {
            display: inline-block;
            width: px2rem(22px);
            height: px2rem(22px);
            border-left: px2rem(3px) solid #FFF;
            border-bottom: px2rem(3px) solid #FFF;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            position: relative;
            top: px2rem(1px);
            left: px2rem(8px);
        }
    }
}

#header2 {
    width: 100%;
    height: px2rem(276px);
    line-height: 0;
    background:linear-gradient(-90deg,rgba(108,139,254,1),rgba(106,158,255,1));
    overflow: hidden;
    .img-close {
        width: px2rem(44px);
        height: px2rem(44px);
        margin-top: px2rem(32px);
        margin-left: px2rem(32px);
        img {
            width: px2rem(44px);
            height: px2rem(44px);
        }
    }
    .img-logo {
        text-align: center;
        img {
            width: px2rem(346px);
            height: px2rem(64px);
        }
    }
    .btn {
        text-align: center;
        margin-top: px2rem(47px);
        a{
            padding: px2rem(11px) px2rem(39px);
            background: #FFF;
            font-size:px2rem(30px);
            font-family:PingFangSC-Regular;
            color:rgba(112,112,118,1);
            border-left:px2rem(2px) solid #E5E5E5;
            text-decoration: none;
        }
        .left-btn{
            border-radius:px2rem(4px) 0 0 px2rem(4px);
        }
        .right-btn {
            border-radius:0 px2rem(4px) px2rem(4px) 0;
            color: #6C8BFE;
        }
    }
}

#main {
    width: 100%;
    background:#FFF;
    border-radius:8px 8px 0px 0px;
    .nav-person{
        display: inline-block;
        width: px2rem(264px);
        height: px2rem(72px);
        margin-left: px2rem(111px);
        margin-top: px2rem(16px);
        text-align: center;
        a{
            display: inline-block;
            vertical-align: middle;
            margin-top: px2rem(-21px);
            font-size:px2rem(30px);
            font-family:PingFangSC-Semibold;
            color:rgba(108,139,254,1);
            text-decoration: none;
        }
        .a-company{
            color: #707076;
        }
    
    }
    .border{
        border: 0;
        background: #6C8BFE;
        border-radius: px2rem(3px);
        width: px2rem(96px);
        height: px2rem(6px);
        margin-left: px2rem(84px);
        margin-top: px2rem(-10px);
    }
    .nav-company{
        width: px2rem(264px);
        height: px2rem(72px);
        display: inline-block;
        margin-top: px2rem(16px);
        margin-left: px2rem(-22px);
        text-align: center;
        a{
            display: inline-block;
            vertical-align: middle;
            margin-top: px2rem(-21px);
            font-size:px2rem(30px);
            font-family:PingFangSC-Semibold;
            color: #707076;
            text-decoration: none;
        }
        .a-company{
            color:rgba(108,139,254,1);
        }
    }
    .div1,.div2{
        font-size:px2rem(30px);
        font-family:PingFangSC-Regular;
        color:rgba(198,198,200,1);
        width: px2rem(654px);
        height: px2rem(80px);
        margin-top: px2rem(20px);
        margin-left: px2rem(48px);
        margin-right: px2rem(48px);
        border: none;
        border-bottom-style: solid;
        border-bottom-color: #E5E5E5;
        border-bottom-width: px2rem(1px);
        a{
            display: inline-block;
            color:rgba(112,112,118,1);
            vertical-align: middle;
            margin-top: px2rem(19px);
             }
        input{
            height: px2rem(42px);
            border: 0;
            width: 60%;
            margin-left: px2rem(64px);
            margin-top: px2rem(19px);
            display: inline-block;
            vertical-align: middle;
            outline: none;
        }
        .input-width1{
            width: 41%;
        }
        .input-margin1{
            margin-left: px2rem(124px);
        }
        .input-margin2{
            margin-left: px2rem(94px);
        }
        .input-margin3{
            margin-left: px2rem(34px);
        }
        input::-webkit-input-placeholder{
            color: #c6c6c8;
        }        
         input:-moz-placeholder{
            color: #c6c6c8;
        }                  
        input::-moz-placeholder{
            color: #c6c6c8;
        }                  
        input:-ms-input-placeholder            
         {
            color: #c6c6c8;
        } 
         input::placeholder{
            color: #c6c6c8;
        }
        input::-ms-clear{
            display: none;
        }
        input::-ms-reveal{
            display: none;
        }
        .get{
            position: relative;
            top: px2rem(-5px);
            left: px2rem(5px);
            height: px2rem(56px);
            width: px2rem(131px);
            text-align: center;
            padding: px2rem(12px) 0;
            background:rgba(255,255,255,1);
            border-radius:px2rem(4px);
            border:2px solid rgba(108,139,254,1);
            font-size:px2rem(28px);
            font-family:PingFangSC-Regular;
            color:rgba(108,139,254,1);   
            margin: px2rem(14px) 0 0 0;
            cursor: pointer;
        }
        .getafter{
            position: relative;
            top: px2rem(-5px);
            left: px2rem(5px);
            height: px2rem(56px);
            width: px2rem(131px);
            text-align: center;
            padding: px2rem(12px) 0;
            background:#E5E5E5;
            border-radius:px2rem(4px);
            border:2px solid #c6c6c8;
            font-size:px2rem(28px);
            font-family:PingFangSC-Regular;
            color: #c6c6c8;   
            margin: px2rem(14px) 0 0 0;
            pointer-events: none;
        }
        .img{
            position: relative;
            top: px2rem(19px);
            display: block;
            img{
                position: relative;
                top: px2rem(-65px);
                left: px2rem(520px);
                width: px2rem(130px);
                height: px2rem(50px);
            }
        }
     
      
    }
    .div1{
        margin-top: px2rem(40px);
    }
    .submit1{
        width: px2rem(460px);
        height: px2rem(88px);
        margin: px2rem(72px) 0 0 px2rem(145px);
        font-size:px2rem(36px);
        font-family:PingFangSC-Semibold;
        color: #979797;
        background: rgba(229,229,229,1);
        border-radius: px2rem(8px);
        pointer-events: none;
    }
    .submit0{
        width: px2rem(460px);
        height: px2rem(88px);
        margin: px2rem(72px) 0 0 px2rem(145px);
        font-size:px2rem(36px);
        font-family:PingFangSC-Semibold;
        color:rgba(255,255,255,1);
        background: #6C8BFE;
        border-radius: px2rem(8px);
        cursor: pointer;
    }
  
    .checkbox-text{
        margin-top:px2rem(40px);
        margin-left: px2rem(160px);
        margin-bottom: px2rem(90px);
        font-size:px2rem(24px);
        font-family:PingFangSC-Regular;
        img{
            width: px2rem(24px);
            height: px2rem(24px);
            vertical-align:middle;
            margin-top: px2rem(-4px);
            margin-right: px2rem(8px);
        } 
    }
    .a1{
        color: #707076;
    }
    .a2{
        color: #5668A6;
        cursor: pointer;
    }

   

}
